@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    color: #fff;
    margin-top: 100px;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1400px;
    gap: 40px;
}

.about-text {
    flex: 1;
}

.about-title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 40px;
    font-family: 'Big Shoulders Display', sans-serif;
}

.about-description {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
    margin-top: 70px;
}

.about-image {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), inset 0 0 0 1px #222;
}


@media (max-width: 1024px) {
    .about-content {
        flex-direction: row;
        gap: 0px;
    }

    .about-title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .about-description {
        font-size: 16px;
        width: 100%;
        margin-bottom: 20px;
    }

    .about-image {
        max-width: 200px;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 0px;
    }

    .about-title {
        font-size: 30px;
    }

    .about-description {
        font-size: 15px;
        width: 100%;
    }

    .about-image {
        max-width: 180px;
    }
}

@media (max-width: 480px) {
    .about-title {
        font-size: 25px;
    }

    .about-description {
        font-size: 14px;
        width: 100%;
    }

    .about-image {
        max-width: 180px;
    }
}