.projects-section {
    padding: 50px 20px;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    max-width: 945px;
    margin: 0 auto;
    width: 100%; /* Ensure it adapts to smaller screens */
}

.projects-title {
    width: 100%;
    max-width: 450px;
    color: #FFF;
    text-align: left;
    font-size: 2.5rem; /* Adjust font size for responsiveness */
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    justify-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .projects-title {
        font-size: 2rem; /* Smaller font size for smaller screens */
        text-align: center; /* Center-align title on smaller screens */
        margin-bottom: 30px;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid for smaller screens */
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .projects-title {
        font-size: 1.8rem; /* Further reduce font size for very small screens */
    }

    .projects-container {
        grid-template-columns: 1fr; /* Single column layout for very small screens */
        gap: 10px;
    }
}